body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(244, 242, 239);
    margin:  0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: rgb(190, 200, 213);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(14, 13, 13, 0.1);
}

.left-section {
    background-color: rgb(226, 163, 215);
    color: rgb(248, 243, 243);
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #e649aa ;
}

.profile-picture {
    width: 150px;
    height: 200px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #e649aa;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(19, 4, 4);
    border-radius: 10px;
    box-shadow: 0 0 15px #db51c9;
    margin-top: 5%;
    margin-bottom: 5%;
}

u1 {
    list-style-type: fill round;
    padding: 10;
    margin: 10px;
}

u1 li {
    margin: 5px 0;
}

.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family:  Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover {
    background-color: rgb(235, 156, 230);
}

